<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Flight Booking Confirmation</h1>
    <p>Hi <%= @passenger.name %>,</p>
    <p>Thank you for odin flight booker. Your ticket has been confirmed.</p>
    <p>Flight Details:</p>
    <ul>
      <li>Flight: <%= @passenger.booking.flight.id %></li>
      <li>Departure: <%= @passenger.booking.flight.departure.code %></li>
      <li>Arrival: <%= @passenger.booking.flight.arrival.code %></li>
      <li>Date: <%= @passenger.booking.flight.date.strftime('%Y-%m-%d %H:%M') %></li>
    </ul>
    <p>We look forward to serving you on your upcoming flight. If you have any questions or need further assistance, please don't hesitate to contact us.</p>
    <p>Thank you,</p>
    <p>The Flight Booker Team</p>
  </body>
</html>